body {
    margin: 0;
    padding: 0;
}

a:link,
a:visited {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

* {
    cursor: default;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.5s ease-in-out, left 1s, background-color 0s, color 0s;
}

* {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

html {
    font-size: calc(0.5em + 1.4vw);
}

@font-face {
    font-family: "trade-gothic-regular";
    src: url("fonts/TradeGothicLT.ttf") format("opentype");
}

@font-face {
    font-family: "trade-gothic-bold";
    src: url("fonts/TradeGothicLTBold.ttf") format("opentype");
}

@font-face {
    font-family: "trade-gothic-light";
    src: url("fonts/TradeGothicLTLight.ttf") format("opentype");
}

@font-face {
    font-family: "space-grotesk";
    src: url("fonts/SpaceGrotesk-Regular.ttf") format("opentype");
}

@font-face {
    font-family: "plantin-light-italic";
    src: url("fonts/PlantinMTProLightIt.TTF") format("opentype");
}

@font-face {
    font-family: "plantin-light";
    src: url("fonts/PlantinMTProLight.TTF") format("opentype");
}

h1 {
    margin-top: 0px;
    padding-top: 0px;
    font-family: "trade-gothic-bold";
    font-style: normal;
    font-weight: normal;
    font-size: 5em;
}

h2 {
    margin: 0;
    font-family: "trade-gothic-regular";
    font-style: normal;
    font-weight: normal;
    font-size: 1.2em;
    color: white;
}

h3 {
    margin: 0;
    font-family: "trade-gothic-regular";
    font-style: normal;
    font-weight: normal;
    font-size: 1.2em;
}

h4 {
    font-family: "trade-gothic-regular";
    font-size: 0.7em;
    display: inline;
    color: white;
}

p {
    font-family: "trade-gothic-regular";
    font-size: 0.7em;
    display: inline;
    color: white;
}

.container {
    background-color: #1e1e1e;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    overflow: scroll;
}

.header {
    width: 100%;
    height: 2em;
    z-index: 50;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5em;
    position: fixed;
    opacity: 100%;
    transition: all 0.5s ease-in-out;
}
.headerLinks {
    width: 50%;
    height: 2em;
    z-index: 50;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.5em;
}

.workMenu {
    position: absolute;
    font-family: "trade-gothic-bold";
    font-size: 5em;
    z-index: 200;
    line-height: 1em;
    left: 100%;
    transform: translate(0, -50%);
    top: 50%;
}

.scroll-down .header {
    top: -2em;
}

.scroll-up .header {
    background-color: white;
    color: black;
    top: 0;
}

.welcome {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

.welcomeTxtTest {
    position: absolute;
    font-family: "trade-gothic-bold";
    font-size: 5em;
    width: 100vw;
    line-height: 1em;
    top: 50%;
    left: 0.04em;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

.down {
    padding: 0.5em;
    position: absolute;
    bottom: 0;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.year {
    padding: 0.5em;
    position: absolute;
    bottom: 0;
    right: 0;
    color: black;
    font-family: "trade-gothic-regular";
    font-size: 0.7em;
    display: inline;
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    left: 0px;
    width: 100%;
    padding: 0.25em;
}

.break {
    width: 100%;
    height: 2em;
    border-bottom: 0.5px solid white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0.5em;
}

.preview {
    width: 100%;
    height: auto;
    padding: 0.25em;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.previewImage {
    /* padding: 0.25em; */
    width: 100%;
    height: auto;
    overflow: hidden;
    /* display: block; */
}

.gallery {
    padding: 0.25em;
    width: 66%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.galleryNav {
    padding: 0.25em;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    font-family: "trade-gothic-bold";
    font-size: 5em;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    color: white;
}

.right {
    font-family: "trade-gothic-bold";
    font-size: 5em;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    color: white;
}

.text {
    padding: 0.25em;
    width: 34%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0.25em;
}

.links {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
}

/* ---gobstopper */

.gobstopper {
    width: 100%;
    height: 100vh;
    background-color: white;
    position: relative;
}

.bigball {
    width: 20em;
    height: 20em;
    display: block;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.invisiBall {
    width: 20em;
    height: 20em;
    display: block;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    opacity: 1;
    z-index: 100;
}

/* ---BIG HEADERS--- */

.work {
    font-family: "trade-gothic-bold";
    font-style: normal;
    font-weight: normal;
    font-size: 10em;
    line-height: 1em;
    overflow: hidden;
    height: 1em;
    padding-left: 0.04em;
    color: white;
}

.headlines {
    display: flex;
    height: 1em;
    position: absolute;
}

.bigHeader {
    padding-right: 0.5em;
}

.description {
    padding: 0 0.5em 0.5em 0.5em;
    height: auto;
    display: flex;
    justify-content: flex-end;
}
.descriptionTxt {
    width: 66%;
}

.title {
    padding: 0.25em 0.25em 0 0.5em;
    width: 100%;
}

/* ---carSticker--- */
.sticker {
    width: 100%;
    height: 6em;
    position: relative;
}

.box {
    height: 4em;
    width: 4em;
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.image {
    height: 4em;
    width: 4em;
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/* ---contact--- */
.contact {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
}

.footer {
    width: 100%;
    padding: 0.5em;
    display: flex;
    justify-content: space-around;
}
